*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #5d4954;
}
.logo{
    color: white;
    font-size: 2em;
    letter-spacing: 3px;
}
.navlink{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navlink li{
    list-style: none;
}
.navlink li a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: capitalize;
}
.navlink li a:hover{
    font-weight: bold;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 2px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger:hover{
    /* border: 2px solid turquoise; */
    background-color: #493a42;
    border-radius: 3px;
}
@media screen and (max-width:1100px) {
    .navlink{
        width: 55%;
    }
}
@media screen and (max-width:770px) {
    body{
        overflow-x: hidden;
    }
    .navlink{
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        background: #5d4954;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navlink li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    /* display: none; */
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
   
}